<%- include('header') -%>

<h1>Búa til könnun</h1>
    <div id="surveyDiv">
        <form action="/createIT" method="post" id="surveyForm">
            <input type="text" name="name" placeholder="Nafn könnunar">
            <div id="questionsDiv">
                <button type="button" id="addQuestion">Bæta við spurningu</button>
                <div id="questions"></div>
            </div>
            <input type="number" name="prize" placeholder="Verðlaun">
            <input type="text" name="about" placeholder="Stutt lýsing">
            <input type="number" name="maxamount" placeholder="Hámarksfjöldi">
            <input type="number" name="minamount" placeholder="Lágmarksfjöldi">
            <input type="number" name="maxage" placeholder="Hæsti aldur">
            <input type="number" name="minage" placeholder="Minnsti aldur (lágmarki 15)">
            <div id="sex">
                <h4>Kyn svaranda</h5>
                    <div class="checks">
                        <label for="male">Karl</label>
                            <input type="checkbox" name="sex" id="man" value="Karl" checked>
                        <label for="female">Kona</label>
                            <input type="checkbox" name="sex" id="woman" value="Kona" checked>
                        <label for="other">Annað</label>
                            <input type="checkbox" name="sex" id="other" value="Annað" checked>
                    </div>
                
            </div>
            <div id="socialposition">
                <h4>Staða svaranda</h4>
                <div class="checks">
                    <label for="elementary">Grunnskóla</label>
                        <input type="checkbox" name="socialposition" value="Grunnskóla" checked>
                    <label for="high">Menntaskóla</label>
                        <input type="checkbox" name="socialposition" value="Menntaskóla" checked>
                    <label for="college">Háskóla</label>
                        <input type="checkbox" name="socialposition" value="Háskóla" checked>
                    <label for="work">Vinnumarkaði</label>
                        <input type="checkbox" name="socialposition" value="Vinnumarkaði" checked>
                    <label for="other">Annað</label>
                        <input type="checkbox" name="socialposition" value="Annað" checked>
                </div>
            </div>
            <div id="location">
                <h4>Búseta svaranda</h4>
                <div class="checks3">
                    <label for="capital">Höfuðborgarsvæðið</label>
                    <img src="img/landið/hofudborgarsvaedid.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Höfuðborgarsvæðið" checked>
                    <label for="west">Vesturland</label>
                    <img src="img/landið/vesturland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Vesturland" checked>
                    <label for="westFjords">Vestfirðir</label>
                    <img src="img/landið/vestfirdir.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Vestfirðir" checked>
                    <label for="northWest">Norð-vesturland</label>
                    <img src="img/landið/nordvesturland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Norð-vesturland" checked>
                    <label for="north">Norðurland</label>
                    <img src="img/landið/nordurland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Norðurland" checked>
                    <label for="east">Austurland</label>
                    <img src="img/landið/austurland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Austurland" checked>
                    <label for="south">Suðurland</label>
                    <img src="img/landið/sudurland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Suðurland" checked>
                    <label for="southWest">Suðvesturland</label>
                    <img src="img/landið/sudvesturland.png" class="locationImg" alt="">
                        <input type="checkbox" name="location" value="Suðvesturland" checked>
                </div>
            </div>
            <button type="submit" id="submitSurveyButton">Búa til könnun</button>
        </form>
    </div>

    <script>
        var surveyForm = document.getElementById('surveyForm')
        var addQuestion = document.getElementById('addQuestion')
        var questions = document.getElementById('questions')
        var questionNumber = 0

        addQuestion.onclick = function() {
            questionNumber++
            var bothDiv = document.createElement('div')
            var div = document.createElement('div')
            bothDiv.classList += "question"
            div.classList += "leftQuestion"

            var question = document.createElement('input')
            question.type = "text"
            question.name = `questions[${questionNumber}][question]`
            question.placeholder = `Spurning ${questionNumber}`
            question.class = "questionInput"

            var optionsButton = document.createElement('button')
            optionsButton.type = "button"
            optionsButton.class = "optionsButton"
            optionsButton.innerHTML = "Valmöguleikar"

            var userInputButton = document.createElement('button')
            userInputButton.type = "button"
            userInputButton.class = "optionsButton"
            userInputButton.innerHTML = "Skriflegt inlegg"
            const q = questionNumber

            var optionsDiv = document.createElement('div')
            optionsDiv.classList += "optionsDiv"
            optionsButton.onclick = function () {
                optionsButton.hidden = true
                userInputButton.hidden = true
                var addOption = document.createElement('button')
                addOption.type = "button"
                addOption.class = "addOptionButton"
                addOption.innerHTML = "Bæta við valmöguleika"
                var options = 0;
                
                addOption.onclick = function() {
                        var option = document.createElement('input')
                        option.type = "text"
                        option.name = `questions[${q}][options]`
                        options++;
                        option.placeholder = `Valmöguleiki ${options}`
                        option.class = "option"

                        optionsDiv.appendChild(option)
                    }
                var onlyOneAnswer = document.createElement('input')
                onlyOneAnswer.type = "checkbox"
                onlyOneAnswer.name = `questions[${q}][multipleAnswers]`
                onlyOneAnswer.checked = true
                onlyOneAnswer.value = false

                var radioLabel = document.createElement('label')
                radioLabel.innerHTML = "Aðeins eitt svar"
                radioLabel.class = "radioLabel"

                var aDiv = document.createElement('div')

                aDiv.appendChild(radioLabel)
                aDiv.appendChild(onlyOneAnswer)
                div.appendChild(aDiv)
                div.appendChild(addOption)
                div.appendChild(optionsDiv)
                
            }

            userInputButton.onclick = function() {
                optionsButton.hidden = true
                userInputButton.hidden = true
                var input = document.createElement('input')
                input.type = "text"
                input.name = `questions[${q}][placeholder]`
                input.placeholder = "Lýsing á inleggi"
                input.class = "placeholderInput"
            
                var radioLabel = document.createElement('label')
                radioLabel.innerHTML = "Aðeins tölur í svari"
                radioLabel.class = "radioLabel"

                var onlyNumbersAnswer = document.createElement('input')
                onlyNumbersAnswer.type = "checkbox"
                onlyNumbersAnswer.name = `questions[${q}][onlyNumbers]`
                onlyNumbersAnswer.checked = false
                onlyNumbersAnswer.value = true

                var optionsDiv = document.createElement('div')
                optionsDiv.classList += "optionsDiv"
                
                optionsDiv.appendChild(input)

                var radioDiv = document.createElement('div')
                radioDiv.appendChild(radioLabel)
                radioDiv.appendChild(onlyNumbersAnswer)

                var fillerDiv = document.createElement('div')

                div.appendChild(radioDiv)
                div.appendChild(fillerDiv)
                div.appendChild(optionsDiv)
            }

            var deleteQuestion = document.createElement('button')
            deleteQuestion.type = 'button'
            deleteQuestion.innerHTML = "Eyða spurningu"


            var deleteDiv = document.createElement('div')
            

            deleteQuestion.onclick = function(){
                bothDiv.remove()
                // questionNumber -= 1 því það fokkar upp jsonHlutnum, arrayinu!
            }

            
            div.appendChild(question)
            div.appendChild(optionsButton)
            div.appendChild(userInputButton)
            deleteDiv.appendChild(deleteQuestion)
            bothDiv.appendChild(div)
            bothDiv.appendChild(deleteDiv)
            questions.appendChild(bothDiv)


        }
        
        surveyForm.onsubmit = function() {
                var checkBoxes = document.getElementsByName( 'sex' );
                var socialPosCheckBoxes = document.getElementsByName('socialposition')
                var locationCheckBoxes = document.getElementsByName('location')
                var isSexChecked = false;
                var isSocialPosChecked = false;
                var isLocationChecked = false;
                    for (var i = 0; i < checkBoxes.length; i++) {
                        if ( checkBoxes[i].checked ) {
                            isSexChecked = true;
                            break;
                        };
                    };
                    for(var i = 0; i < socialPosCheckBoxes.length; i++){
                        if( socialPosCheckBoxes[i].checked ){
                            isSocialPosChecked = true;
                            break;
                        }
                    }
                    for(var i = 0; i < locationCheckBoxes.length; i++){
                        if ( locationCheckBoxes[i].checked ){
                            isLocationChecked = true;
                            break;
                        }
                    }
                    if ( isSexChecked && isSocialPosChecked && isLocationChecked ) {
                        alert("HERE")
                        return true
                        } else {
                            alert( `Verður að velja amk einn valmöguleika hjá ${isSexChecked ? "":"\nkyni"}`+ 
                            `${isSocialPosChecked ? "":"\nstöðu"}${isLocationChecked ? "":"\nstaðsetningu"}` );
                            return false
                        }   
        }

//         var xhr = new XMLHttpRequest();
// xhr.open("POST", yourUrl, true);
// xhr.setRequestHeader('Content-Type', 'application/json');
// xhr.send(JSON.stringify({
//     value: value
// }));
    </script>

<%- include('footer') -%>
<!--
    socialposition varchar(255)[] NOT NULL DEFAULT '{}',
    location varchar(255)[] NOT NULL DEFAULT '{}'
  -->