<%- include('header') -%>
<form action="/customMessage" method="POST">
    <input type="number" name="userID">
    <input type="text" name="message">
    <button type="submit">Senda Notification</button>
</form>
<%- include('footer') -%>