<%- include('header') -%>

    <div id="login">
        <h3>Skráðu þig inn!</h3>
        <form id="loginForm" action="/createSurvey" method="post">
            <input type="text" name="password" placeholder="Leyniorð">
            <button type="submit">Innskrá</button>
        </form>
    </div>

<%- include('footer') -%>  
