<%- include('header') -%>
<link rel="stylesheet" href="customPushNot.css">
<h1>Notify users of survey</h1>
<form action="/notifyUsersOfSurvey" method="POST">
    <div id="inputs">
        <label for="">SurveyID</label>
        <input type="number" name="surveyID">
    </div>
    <button type="submit">Senda Notification</button>
</form>
<%- include('footer') -%>