<%- include('header') -%>
<div>
    <li>
            1. Notendaskilmálar
            Skilmálar þessir gilda um þjónustu Eik appsins og vefsíðunnar eiksurveys.herokuapp.com/eik. Með því að skrá sig inn í þjónustuna lýsir notandi því yfir að hann hafi lesið, skilið og samþykkt skilmálana í heild sinni, en samþykki skilmálanna er skilyrði fyrir notkun þjónustunnar á annan hátt en með einfaldri skoðun auglýsinga á störfum í boði.            
    </li>
    <li>
            2. Um Eik og skilgreiningar á hugtökum
            Eik er í eigu Eik Kannanir. Eik er snjallsímaforrit sem framkvæmir markaðskannanir fyrir fyrirtæki, stofnanir og 
            einstaklinga. Eik hámarkar hentugleika fyrir notendur og gefur þeim hvata til þess að svara könnunum gegn greiðslu.
    </li>
    <li>
            3. Notkun og aðgangur notenda
            <li>
                3. 1 – Notkun notenda á þjónustunni
                    Notkun á þjónustunni felst í skoðun og svörun kannana. Öll notkun á þjónustunni takmarkast við eðlilegar og 
                    lögmætar athafnir. Notanda er einungis heimilt að nýta upplýsingar sem hann varða en óheimilt að reyna að 
                    nálgast upplýsingar sem varða aðra notendur. Eik áskilur sér rétt til að meina einstaklingum að nota þjónustuna 
                    sem hafa áður sýnt af sér ólögmæta eða ósæmilega háttsemi í tengslum við þjónustuna.
                    
            </li>
            <li>
                    3.2 – Aðgangur að þjónustunni fyrir notendur
                    Aðgangur að þjónustunni er á einn máta:
                    Innskráning með tölvupóstfangi. Með innskráningu samþykkir notandi skilmála þessa. Notandi verður beðinn um að taka fyrstu könnun áður en notandi öðlast fullan aðgang að þjónustunni.
            </li>
    </li>

    <li>
            4. Upplýsingar um notendur og umsóknarferli
        <li>
                4.1 – Upplýsingar um notendur og varðveisla þeirra
                Innskráningarupplýsingar notanda eru tölvupóstfang hans. Innskráningarupplýsingar eru geymdar hjá Eik.
                Notandi er sjálfur ábyrgur fyrir geymslu og leynd innskráningarupplýsinga sinna. Verði notandi var við óeðlilega notkun eða grunar að óviðkomandi hafi vitneskju um innskráningarupplýsingar sínar, þá er það á ábyrgð notanda að grípa til viðeigandi ráðstafana, s.s. að loka tafarlaust fyrir aðgang sinn með Eik appinu eða með því að hafa samband við Eik á netfanginu Skjaldbaka17@gmail.com
                Eftirfarandi upplýsingar um notanda eru geymdar rafrænt í gagnagrunni hjá Eik og fengnar með upplýsingum sem notandi gefur við fyrstu könnun: Nafn, tölvupóstfang, símanúmer, fæðingardagur, kyn, staðsetning, menntun, starfsreynsla.
                Upplýsingar um notanda í Eik stafa frá honum sjálfum.
                Eik fer með upplýsingar um notendur sem trúnaðarmál og gerir viðeigandi ráðstafanir til að gæta öryggis þeirra í samræmi við lög nr. 77/2000 um persónuvernd og meðferð persónuupplýsinga.
                Þegar notandi tekur könnun hjá Eik eru gögnin geymd undir nafnleynd. Eik mun safna ópersónugreinanlegum upplýsingum um kyn, menntun, aldur, starfsreynslu, staðsetningu og öðrum hæfnisupplýsingum í þeim tilgangi að greina notkun á Eik og bjóða fyrirtækjum upp á tölfræðilegar upplýsingar um notkun á Eik.
                Vilji notandi ekki lengur eiga þess kost á að nýta þjónustu Eiks skal hann tilkynna Eik það með því að senda skilaboð á skjaldbaka17@gmail.com eða hringja í síma 8493398. Tilkynning notanda um að hann vilji ekki lengur nýta sér þjónustu Eiks leiðir ekki til þess að gögn sem notandi hefur gefið við 
                svörun kannana muni verða eytt.
                Þegar notandi hefur tilkynnt að hann vilji ekki lengur eiga þess kost að nýta þjónustu Eiks þá mun Eik tæma allar upplýsingar um viðkomandi notanda í gagnagrunni sínum innan 5 virkra daga. Tekið skal fram að Eik getur ekki eytt upplýsingum um notanda sem fyrirtæki kann að hafa geymt í tengslum við svörun kannana.
                
        </li>
        
    </li>

    <li>
            5. Ábyrgðartakmarkanir
            Notandi gerir sér grein fyrir og samþykkir eftirfarandi ábyrgðartakmarkanir:
            Eik ber ekki ábyrgð á að tilkynningar frá þjónustunni séu án villna, þær berist á réttum tíma eða berist yfir höfuð, þó Eik muni leitast við að allar tilkynningar berist og það á tilsettum tíma.
            Eik ber ekki ábyrgð á óþægindum eða tjóni sem kann að verða vegna bilana eða galla í þjónustunni, s.s. vegna vélabilana, tæknilegra bilana, hugbúnaðarvillna, kerfisuppfærslna, ágalla á stýrikerfum, netkerfum eða fjarskiptakerfum eða vegna þess að þjónusta fellur niður vegna rafmangsleysis eða rofa eða truflana á fjarskiptaþjónustu.
            Notandi veitir upplýsingar og tekur kannanir á eigin ábyrgð. Eik ber ekki ábyrgð á tjóni sem kann að verða vegna þess að þriðji aðili kemst yfir upplýsingar um notanda í kerfinu með ólögmætum aðgangi, s.s. vegna tölvuárása. Jafnframt ber Eik ekki ábyrgð á meðhöndlun fyrirtækja á skýrslum unnum úr svörum notanda.
            Eik ber ekki ábyrgð á óviðráðanlegum atvikum (force majeure) sem kunna að leiða til þess að ómögulegt er að veita þjónustuna s.s. vegna ákvarðana stjórnvalda, náttúruhamfara, verkfalla eða verkbanna, uppreisna, uppþota, skemmdarverka, hryðjuverka eða styrjalda eða annars konar ámóta atvika sem ekki er unnt að koma í veg fyrir eða hafa stjórn á með eðlilegum ráðum af hálfu Eiks.
            
    </li>

    <li>
            6. Efni, útlit og vörumerkið Eik
            Allt efni í Eik appinu eða á vefsíðunni eiksurveys.herokuapp.com/eik, s.s. hönnun, textar, grafík, myndir, ljósmyndir, tilkynningar, upplýsingar, vörumerkið Eik, íkon (e. icon), hugbúnaður og annað efni er eign Eik Kannanir ehf. og varið samkvæmt höfundarréttar- og vörumerkjalögum á Íslandi og annars staðar. Óheimil notkun, afritun, endurútgáfa og/eða dreifing á þessu efni, hvort heldur sem er að hluta til eða í heild, getur varðað við lög og er því stranglega bönnuð án leyfis Eik ehf. Eik er skrásett vörumerki. Tekið skal fram að vörumerki (e. trademark) sem fyrirtæki, þ.m.t. vörumerki hlaða upp á Eik eru eftir sem áður í eigu viðkomandi rétthafa.
            
    </li>

    <li>
            7. Brot á skilmálum
            Komi í ljós að notandi brjóti gegn skilmálum þessum og/eða misnoti þjónustuna á einhvern hátt áskilur Eik sér rétt til að loka tafaralaust fyrir aðgang viðkomandi notanda án fyrirvara. Það sama á við ef notandi sýnir af sér ólögmæta eða ósæmilega háttsemi. Við framangreindar aðstæður verður notanda send tilkynning um að lokað hafi verið fyrir aðganginn.
            Vakni grunur um að háttsemi notanda varði við lög áskilur Eik sér rétt til að tilkynna slíkt til viðeigandi yfirvalda.
            
    </li>

    <li>
            8. Breytingar á skilmálum og aðrar tilkynningar
            Notandi hefur aðgang að gildandi skilmálum í Eik appinu og á vefnum eiksurveys.herokuapp.com/eik. Eik getur breytt ákvæðum skilmála þessara einhliða. Komi til breytinga munu þær verða kynntar notanda með minnst 10 almannaksdaga fyrirvara með tölvupósti. Með samþykki á skilmálum þessum þá samþykkir notandi framangreinda aðferð við breytingu á skilmálunum og upplýsingagjöf til hans. Í tilkynningu um breytta skilmála skal vakin athygli á því í hverju breytingar eru fólgnar og rétti notanda til að hætta að nýta þjónustu Eiks.
            Eik áskilur sér rétt til að hafa samskipti við notendur þjónustunnar í gegnum SMS skilaboð, tölvupóst og/eða með skilaboðum í gegnum Eik appið. Með samþykki skilmálanna samþykkir notandi að Eik megi eiga samskipti við hann. Eik mun eingöngu senda upplýsingar til notenda er varða þjónustuna en ekki áreiti frá þriðja aðila.
            
    </li>

    <li>
            9. Aðilaskipti að eignarrétti að Eik kerfinu
            Eik Kannanir ehf. er heimilt að framselja Eik kerfið í heild eða að hluta til þriðja aðila ásamt þeim upplýsingum sem eru í kerfinu án samþykkis notenda. Það sama á við um annars konar aðilaskipti að eignarrétti að Eik. Framsal eða önnur aðilaskipti að Eik, í heild eða að hluta, hafa engin áhrif á skilmála þessa eða samþykki notenda fyrir gildi þeirra. Komi til aðilaskipta að Eik kerfinu skal tilvísun til Eik ehf. í skilmálum þessum þýða tilvísun til nýs eiganda Eik kerfisins.
            
    </li>

    <li>
            10. Ágreiningur
            Skilmálar þessir og notkun Eiks lýtur íslenskum lögum og lögsögu íslenskra dómstóla. Ágreiningsmál skulu rekin fyrir Héraðsdómi Reykjavíkur nema um annað verði samið.
            
    </li>

    <li>
            11. Gildistími
Skilmálar þessir eru gefnir út af Eik og gilda frá 11. september 2018 og þar til nýir skilmálar taka gildi.
    </li>
    
</div>
<%- include('footer') -%>