header {
    background: #ff8729;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 2.5% 0 2.5% 0;
}

body{
    margin: 0;
    /* background: #f4f6fa; */
    background: #ff8729;
}

#theBody{
    background: #f4f6fa;
    min-height: 1000px;
}

#logoWhite{
    max-height: 200px;
    max-width: 200px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

